/* 

font-family: 'Lobster', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive;

*/


/* Global styling */

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-yeseva: 'Yeseva One', cursive;
    --font-lobster: 'Lobster', cursive;
    --font-manrope: 'Manrope', sans-serif;

    --color-primary: #333333;
    --color-body: #3E3E3E;
    --color-heading: #13103A;
    --color-accent: #FFAD5A;
    --color-btn: #FF5959;
    --color-white: #FFFFFF;
    --color-footer-accent: #FF5959;
    --color-footer-background: #0B0D17;

    --background-color-1: rgba(79, 157, 166, 0.1);
    --background-color-2: rgba(255, 89, 89, 0.1);
    --background-color-3: #FFF4D6;

    --border-radius-4: 4px;
    --border-radius-5: 5px;
    --border-radius-card: 26px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-body);
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

/* Common styling */

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.w-f {
    width: 100%;
}

.w-h {
    width: 50%;
}

.d-flex {
  display: flex;
}

.j-c {
    justify-content: center;
}

.j-e {
    justify-content: flex-end;
}

.j-sb {
    justify-content: space-between;
}

.a-i {
    align-items: center;
}

.ff-cn {
    flex-flow: column nowrap;
}

.ff-rn {
    flex-flow: row nowrap;
}

.t-l {
    text-align: left;
}

.t-r {
    text-align: right;
}

/* Common element styling */

.btn-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 172px;
    height: 48px;
    font-size: 16px;
    color: var(--color-white);
    background: var(--color-btn);
    border-radius: var(--border-radius-5);
    text-decoration: none;
}

/* header section start */

#header {
    width: 85%;
    margin: 30px auto 0;
}

.header-title {
    font-family: var(--font-yeseva);
    font-size: 2.8125rem;
    line-height: 80px;
    padding-left: 15px;
    background-image: url("../images/shapes/line-1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 83%;
}

.header-content {
    margin-top: 60px;
    width: 50%;
}

.header-title h1 {
    color: var(--color-primary);
    margin-bottom: 10px;
}

.header-title h2 {
    color: var(--color-accent);
}

.header-article {
    margin: 15px 0 20px;
    width: 100%;
}

.header-image {
    width: 50%;
}

.header-image > img {
    width: 60%;
}

.image {
    width: 65%;
    margin: 0 auto 0 auto;
}

.btn-explore {
    margin-bottom: 30px;
}

/* Header section end */


/* My mission section start */

#my-mission {
    width: 85%;
    margin: 60px auto 85px;
}

.my-mission-title {
    font-size: 48px;
    line-height: 70px;
    text-align: center;
}

.my-mission-title span {
    color: var(--color-accent);
}

.cards {
    margin-top: 50px;
}

.card {
    width: 30%;
    padding: 30px;
    border-radius: var(--border-radius-card);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.card-content h3 {
    margin: 15px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.card-content p {
    font-size: 16px;
    line-height: 24px;
}

.card-image img {
    width: 141px;
    height: 141px;
}

#card-1 {
    background: var(--background-color-1);
}

#card-2 {
    background: var(--background-color-2);
}

#card-3 {
    background: var(--background-color-3);
}

/* My mission section end */



/* Develop section start */

#develop {
    width: 100%;
    background-image: url('../images/shapes/shape-1.png');
    background-repeat: no-repeat;
    background-position: 30px 55px;
    background-size: 15% auto;
    margin-bottom: 85px;
}

.develop-wrapper {
    margin: 0 auto;
    width: 85%;
}

.develop-heading {
    font-size: 36px;
    line-height: 54px;
}

.develop-heading span {
    display: block;
}

.develop-description {
    font-size: 18px;
    line-height: 30px;
    margin: 15px 0;
}

.documentation-button a {
    width: 243px;
}
/* Develop section end */



/* Community section start */

#community {
    width: 100%;
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15% auto;
    margin-bottom: 85px;
    background-position: 92% 100%;
    padding-bottom: 85px;
}

.community-wrapper {
    margin: 0 auto;
    width: 85%;
}

.community-heading {
    font-size: 36px;
    line-height: 54px;
}

.community-heading span {
    display: block;
}

.community-description {
    font-size: 18px;
    line-height: 30px;
    margin: 15px 0;
}

.community-image img {
    width: 73%;
    margin-left: auto;
}

.documentation-button a {
    width: 243px;
}

/* Community section start */


/* Contact section start */

#contact-form {
    width: 100%;
    margin-bottom: 85px;
    background-image: url("../images/shapes/shape-4.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto 50%;
}

.contact-form-title {
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 50px;
}

.contact-form-title span {
    color: var(--color-accent);
}

.contact-short-message {
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 0;
}

.contact-wrapper {
    margin: 0 auto;
    width: 85%;
}

.contact-form-content,
.contact-map {
    width: 50%;
}

.contact-map iframe {
    width: 90%;
    height: 100%;
    border-radius: var(--border-radius-5);
}

input, textarea {
    display: block;
    width: 100%;
    height: 48px;
    border-radius: var(--border-radius-5);
    border: 1px solid var(--color-border);
    padding: 0 15px;
    font-size: 16px;
    color: var(--color-text);
    background: var(--color-white);
    margin-bottom: 15px;
    border: 1px solid var(--color-body);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

textarea {
    height: 70%;
    resize: none;
    height: 175px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 5px;
}

/* Contact section end */


/* Footer start */

footer {
    width: 100%;
    padding: 40px 0 45px;
    background: var(--color-footer-background);
    color: var(--color-white);
}

.footer-site-title {
    font-family: var(--font-lobster);
    text-align: center;
}

.footer-site-title > span {
    display: block;
    font-size: 36px;
    line-height: 44px;
}

.footer-site-title-color {
    color: var(--color-footer-accent);
}

.site-copy-write-text {
    font-family: var(--font-manrope);
}

.site-copy-write-text p {
    font-size: 14px;
    line-height: 24px;
}

/* Footer end */